{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesi칩n{% endblock %}

{% block body %}
<div class="card">
<form method="post">
    <div class="card-content">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h3 class="h3 mb-3 font-weight-normal center">Atenea</h3>

        {% if app.user %}
            <br>
            <div class="mb-3">
                Estas logueado como: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        
        <label for="inputEmail">Correo electr칩nico</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <br>
        <label for="inputPassword">Contrase침a</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
    </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <br>
    <div class="card-action">
        <div class="buttons-form">
            <button class="btn light-blue lighten-1" type="submit">
                Inicia Sesi칩n
            </button>
            <!--<div style="height:10px;"></div>
            <button class="btn btn-lg btn-primary">
                Pedir ayuda
            </button>-->            
        </div>
    </div>    
</form>
</div>
{% endblock %}
