{% extends 'base.html.twig' %}

{% block title %}Unidades de gestion{% endblock %}

{% block body %}
{% block stylesheets %}  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="{{ asset('css/table.css') }}" rel="stylesheet" />
  <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
{% endblock %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .tabs .tab a {
    color: rgba(38, 166, 154, 0.7);
    /*Custom Text Color*/
    }
    .tabs .tab a:hover {
    color:#26a69a;
    /*Custom Color On Hover*/
    }
    .tabs .tab a:focus.active {
    color:#26a69a;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Background Color While Active*/
    }
    .tabs .indicator {
    background-color:#26a69a;
    /*Custom Color Of Indicator*/
    }
    .tabs .tab a.active {
    color:#26a69a;
    }
    blockquote{    
    border-left: 5px solid #64b5f6;
    }
</style>
  {# MENSAJES #}
    {% for message in app.flashes('creado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'green lighten-1'
                });
            </script>        
        </div>
    {% endfor %}
    {% for message in app.flashes('eliminado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'red darken-2'
                });
            </script>        
        </div>
    {% endfor %}
  {# FIN MENSAJES #}
    {% set userBadget = 0 %}
    {% if usuarios %}    
      {% for usuario in usuarios %}        
        {% if usuario.usuario.roles[0] != 'ROLE_SUPER' %}
          {% set userBadget = userBadget + 1 %}
        {% endif %}
      {% endfor%}
    {% endif %}
    <blockquote>
      <h2>{{ unidad.nombre }}</h2>
      <small>{{ unidad.descripcion }}</small>
    </blockquote>
    <div class="divider"></div>
    <div class="row">      
      <ul class="tabs">
        <li class="tab col s12"><a href="#usuarios">Usuarios </a></li>          
      </ul>
    </div>      
    <div id="usuarios" class="col s12">      
      {% if usuarios and userBadget != 0 %}
      <div class="row">
      <div id="admin" class="col s12">
        <div class="card material-table">
        <div class="table-header">        
        <div class="actions">
          <a href="{{ path('register', {'id': unidad.id}) }}" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">person_add</i></a>
          <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
        </div>
      </div>
        <table id="datatable">
          <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Correo electrónico</th>
                <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
        {% for usuario in usuarios %}
          {% if usuario.usuario.roles[0] != 'ROLE_SUPER' %}
            <tr>
                <td>{{ usuario.usuario.nombre }}</td>
                <td>{{ usuario.usuario.apellidos }}</td>
                <td>{{ usuario.usuario.telefono }}</td>
                <td>{{ usuario.usuario.email }}</td>
                <td>                      
                    <a href="{{ path('register_edit', {'id': usuario.usuario.id}) }}" class="btn-floating teal hoverable"><i class="material-icons">edit</i></a>
                    <a href="{{ path('register_delete', {'id': usuario.usuario.id}) }}" class="btn-floating red darken-1 hoverable"><i class="material-icons">delete</i></a>
                </td>
            </tr>
          {% endif %}
        {% endfor %}
          </tbody>
        </table>
        </div>
        </div>
      </div>
      {% else %}
        <div class="center-align">
        <h4 style="color:#d32f2f;">No exite ningún usuario todavía</h4> 
        <a href="{{ path('register', {'id': unidad.id}) }}" class="btn">Añadir usuario</a>
      </div>
      {% endif %}
    </div>     
  <div class="divider mt-15 mb-15"></div>
  <a href="/Atenea/public/index.php/unidad" class="btn light-blue lighten-1">Volver</a>
{% endblock %}

{% block javascripts %}          
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/unidad.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatable.js') }}"></script>
{% endblock %}