{% extends 'base.html.twig' %}

{% block title %}Editar Factor Crítico de Éxito{% endblock %}

{% block body %}
    <h3>Editar Factor Crítico de Éxito</h3>    
    {{ form_start(form) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.fecha_alta) }}
    {{ form_row(form.fecha_baja) }}
    {{ form_row(form.aspectosFav) }}    
    {{ form_row(form.aspectosDes) }}
    <div style="display:none">
    {{ form_row(form.aspecto) }}
    </div>
    <button class="btn waves-effect waves-light right" type="submit">Guardar</button>
    <a href="#" onClick="window.history.back();" class="btn red darken-1">Volver</a>
    <br/>
    {{ form_end(form) }}

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/cuestion.js') }}"></script>
{% endblock %}

