{% extends 'base.html.twig' %}

{% block title %}Factores Potenciales de Éxito{% endblock %}

{% block body %}
<style>
.tabs .tab a {
color: rgba(179, 229, 252, 1);
/*Custom Text Color*/
}
.tabs .tab a:hover {
color:#81d4fa;
/*Custom Color On Hover*/
}
.tabs .tab a:focus.active {
color:#81d4fa;
/*Custom Text Color While Active*/
background-color: rgba(225, 245, 254, 1);
/*Custom Background Color While Active*/
}
.tabs .indicator {
background-color:#81d4fa;
/*Custom Color Of Indicator*/
}
.tabs .tab a.active {
color:#81d4fa;
}
.pagination li.active {
background-color:#42a5f5;
}
</style>
    {# MENSAJES #}
    {% for message in app.flashes('creado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'green lighten-1'
                });
            </script>
        </div>
    {% endfor %}
    {% for message in app.flashes('editado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'green lighten-1'
                });
            </script>
        </div>
    {% endfor %}
    {% for message in app.flashes('eliminado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'red darken-2'
                });
            </script>
        </div>
    {% endfor %}
    {# FIN MENSAJES #}
    <div class="card-panel center" style="margin-bottom:0;">
        <h3>Factores Potenciales de Éxito</h3>
    </div>
    <div class="divider"></div>
    <div class="row">
        <ul class="tabs">
            <li class="tab col s12"><a href="#factores">Factores</a></li>
        </ul>
    </div>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('factores_potenciales_de_exito_new') }}"
        class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
    {% endif %}
    <div class="section col s12" id="factores">
        {% if fpe|length > 0 %}
            <table id="contratos">
                <thead>
                <tr>
                    <th>Factor</th>
                    <th>Aspectos favorables</th>
                    <th>Aspectos desfavorables</th>
                    {% if is_granted('ROLE_USER') %}
                        <th>Acción</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% set opor = 0 %}{% set debi = 0 %}{% set fort = 0 %}{% set amen = 0 %}

                {% for factor in fpe %}
                    <tr>
                        <td>{{ factor.descripcion }}</td>
                        <td>
                            {% for aspecto in factor.aspecto %}
                            {% if aspecto.favorable == 1 and aspecto.interno == 0 %}
                            {% if opor == 0 %}
                            <b style="font-size:20px;"><u>Oportunidad</u></b>                            
                            <ul>
                                {% set opor = 1 %}
                                {% endif %}
                                <li>{{ aspecto.descripcion }}</li>

                                {% endif %}
                                {% endfor %}
                                {% set opor = 0 %}
                            </ul>
                            {% for aspecto in factor.aspecto %}
                            {% if aspecto.favorable == 1 and aspecto.interno == 1 %}
                            {% if fort == 0 %}
                            <b style="font-size:20px;"><u>Fortaleza</u></b>                            
                            <ul>
                                {% set fort = 1 %}
                                {% endif %}
                                <li>{{ aspecto.descripcion }}</li>
                                {% endif %}
                                {% endfor %}
                                {% set fort = 0 %}
                            </ul>
                        </td>
                        <td>
                            {% for aspecto in factor.aspecto %}
                            {% if aspecto.favorable == 0 and aspecto.interno == 1 %}
                            {% if debi == 0 %}
                            <b style="font-size:20px;"><u>Debilidad</u></b>                            
                            <ul>
                                {% set debi = 1 %}
                                {% endif %}
                                <li>{{ aspecto.descripcion }}</li>
                                {% endif %}
                                {% endfor %}
                                {% set debi = 0 %}
                            </ul>

                            {% for aspecto in factor.aspecto %}
                            {% if aspecto.favorable == 0 and aspecto.interno == 0 %}
                            {% if amen == 0 %}
                            <b style="font-size:20px;"><u>Amenaza</u></b>                            
                            <ul>
                                {% set amen = 1 %}
                                {% endif %}
                                <li>{{ aspecto.descripcion }}</li>
                                {% endif %}
                                {% endfor %}
                                {% set amen = 0 %}
                            </ul>
                        </td>
                        {% if is_granted('ROLE_USER') %}
                            <td>
                                <a href="{{ path('factores_potenciales_de_exito_edit', {'id': factor.id}) }}"
                                class="btn-floating orange lighten-2"><i class="material-icons">edit</i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>            
            <div class="right">
            {% if maxPages > 1 %}
                <ul class="pagination">
                    {% if thisPage > 1 %}
                        <li class="waves-effect">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('factores_potenciales_de_exito', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><i class="material-icons">chevron_left</i></a>
                            {% elseif is_granted('ROLE_SUPER') %}
                                <a href="{{ path('factores_potenciales_de_exito_super', {id: unidad, currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><i class="material-icons">chevron_left</i></a>
                            {% endif %}
                        </li>
                    {% endif %}

                    {# Render each page number #}
                    {% for i in 1..maxPages %}
                        {% if i == thisPage %}
                        <li class="active">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('factores_potenciales_de_exito', {currentPage: i}) }}">{{ i }}</a>
                            {% elseif is_granted('ROLE_SUPER') %}
                                <a href="{{ path('factores_potenciales_de_exito_super', {id: unidad, currentPage: i}) }}">{{ i }}</a>
                            {% endif %}
                        </li>
                        {% else %}
                        <li class="waves-effect">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('factores_potenciales_de_exito', {currentPage: i}) }}">{{ i }}</a>
                            {% elseif is_granted('ROLE_SUPER') %}
                                <a href="{{ path('factores_potenciales_de_exito_super', {id: unidad, currentPage: i}) }}">{{ i }}</a>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}

                    {# `»` arrow #}
                    {% if thisPage < maxPages %}
                        <li class="waves-effect">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('factores_potenciales_de_exito', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><i class="material-icons">chevron_right</i></a>
                            {% elseif is_granted('ROLE_SUPER') %}
                                <a href="{{ path('factores_potenciales_de_exito_super', {id: unidad, currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><i class="material-icons">chevron_right</i></a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
            </div>            
        {% else %}
            <span>No hay factores potenciales de éxito creados.</span>
        {% endif %}
        </div>        
        {% if is_granted('ROLE_SUPER') %}
            <a href="{{ path('technical_super',{'id' : unidad }) }}" class="btn light-blue lighten-1">Volver</a>
        {% endif %}    
{% endblock %}