{% extends 'base.html.twig' %}

{% block title %}Crear una nuevo Factor Crítico de Éxito{% endblock %}

{% block body %}
    <h3>Crear una nuevo Factor Crítico de Éxito</h3>

    {{ form_start(form) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.fecha_alta) }}
    {{ form_row(form.fecha_baja) }}
    <br>
    <label>Aspectos Favorables</label>
    <div class="input-field col s12">
        {{ form_row(form.aspectosFav) }}
    </div>
    <br>
    <label>Aspectos Desfavorables</label>
    <div class="input-field col s12">
        {{ form_row(form.aspectosDes) }}
    </div>
    <button class="btn waves-effect waves-light right" type="submit">Añadir</button>
    <a href="#" onClick="window.history.back();" class="btn red darken-1">Volver</a>
    <br/>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/cuestion.js') }}"></script>
{% endblock %}
