{% extends 'base.html.twig' %}

{% block title %}Añadir una unidad{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}    
      {{ form_row(form.nombre) }}
      {{ form_row(form.descripcion) }}
      {{ form_row(form.tipo) }}
      <div class="escondido" id="corporacion">
        {{ form_row(form.unidadDeGestion) }}        
      </div>
      <br/>
      <button class="btn waves-effect waves-light right" type="submit">Añadir</button>
      <a href="#" onClick="window.history.back();" class="btn red darken-1">Volver</a>
    {{ form_end(form) }}        
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/unidad.js') }}"></script>    
{% endblock %}