{% extends 'base.html.twig' %}

{% block title %}Unidades de gestion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <a href="{{ path('nueva_unidad') }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
    {% if unidades %}
        <table id="unidades">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for unidad in unidades %}
                {% if unidad.tipo == 1 %}
                <tr>
                    <td>{{ unidad.nombre }}</td>
                    <td>{{ unidad.descripcion }}</td>                    
                    <td>
                        <a href="{{ path('mostrar_unidad', {'id': unidad.id}) }}" class="btn-floating light-blue lighten-1"><i class="material-icons">visibility</i></a>
                        <a href="{{ path('unidad_edit', {'id': unidad.id}) }}" class="btn-floating"><i class="material-icons">edit</i></a>
                        <a href="{{ path('unidad_delete', {'id': unidad.id}) }}" class="btn-floating red darken-1"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay unidades de gestión para mostrar</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '../js/unidad.js' }}"></script>
{% endblock %}