{% extends 'base.html.twig' %}

{% block title %}Unidades de gestion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <a href="{{ path('nueva_unidad') }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
  {# MENSAJES #}
    {% for message in app.flashes('creado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'green lighten-1'
                });
            </script>        
        </div>
    {% endfor %}
    {% for message in app.flashes('eliminado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'red darken-2'
                });
            </script>        
        </div>
    {% endfor %}
  {# FIN MENSAJES #}
    {% if unidades %}
        <table id="unidades">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for unidad in unidades %}
                {% if unidad.tipo == 1 %}
                <tr>
                    <td>{{ unidad.nombre }}</td>
                    <td>{{ unidad.descripcion }}</td>                    
                    <td>
                        <a href="{{ path('mostrar_unidad', {'id': unidad.id}) }}" class="btn-floating light-blue lighten-1"><i class="material-icons">visibility</i></a>
                        <a href="{{ path('unidad_edit', {'id': unidad.id}) }}" class="btn-floating"><i class="material-icons" style="background-color:#ffb74d;">edit</i></a>
                        <a href="#modal" data-nombre="{{ unidad.nombre }}" data-href="{{ path('unidad_delete', {'id': unidad.id}) }}" class="btn-floating red darken-1 modal-trigger" onClick="confirmacion(this);"><i class="material-icons">delete</i></a>                        
                    </td>
                </tr>
                {% endif %}                
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay unidades de gestión para mostrar</p>
    {% endif %}
    <div id="modal" class="modal center">
    <div class="modal-content">
        <h4 class="red-text">Advertencia!</h4>
        <p>Al eliminar <b id="delete-corporacion" style="font-size:20px;"></b> estarás eliminando todo lo relacionado a ella (Empresas, Emplazamientos, Superusuarios y Contrato).</p>
        <p><b style="font-size:20px;">Está seguro de continuar?</b></p>
    </div>
    <div class="modal-footer">
        <a href="#!" id="confirmacion" class=" modal-action modal-close btn-flat">Sí</a>
        <a href="#!" class="modal-action modal-close btn-flat">No</a>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function(){
        $('.modal').modal();            
    });    
    </script>
    <script type="text/javascript" src="{{ asset('js/unidad.js') }}"></script>
{% endblock %}