{% extends 'base.html.twig' %}

{% block title %}Menu de Gestión Técnica{% endblock %}

{% block body %}
<style>
blockquote{    
    border-left: 5px solid #64b5f6;
}
</style>
    <div class="center">
    {% if is_granted('ROLE_USER') %}
        <div class="section">
            <h1 class="header center blue-text text-darken-4">{{ unidad[0].nombre }}</h1>
        </div>
        <div class="row center">
            <h5 class="header col s12 light">Comience a analizar las debilidades, amenazas, fortalezas y oportunidades de su negocio</h5>
        </div>
        <div class="row center">
            <a href="#" data-target="slide-out" class="btn-large waves-effect waves-light red darken-1 sidenav-trigger">Comenzar</a>
        </div>
    {% elseif is_granted('ROLE_SUPER') %}        
    <blockquote>
        <h2>{{ unidad[0].nombre }}</h2>
        <small>{{ unidad[0].descripcion }}</small>
    </blockquote>
    <div class="divider"></div>
        <div class="row">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            <i class="material-icons">question_answer</i>
                            <h4>Cuestiones</h4>
                        </span>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('cuestion_super',{'interna': 0, 'id' : unidad[0].id }) }}" class="teal-text text-darken-3">Cuestiones externas</a>
                        <a href="{{ path('cuestion_super',{'interna': 1, 'id' : unidad[0].id }) }}" class="teal-text text-darken-3">Cuestiones internas</a>
                    </div>                    
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            <i class="material-icons">label</i>
                            <h4>Aspectos</h4>
                        </span>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('aspecto_super',{'interna': 0, 'id' : unidad[0].id }) }}" class="teal-text text-darken-3">Aspectos externos</a>
                        <a href="{{ path('aspecto_super',{'interna': 1, 'id' : unidad[0].id}) }}" class="teal-text text-darken-3">Aspectos internos</a>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            <i class="material-icons">info_outline</i>
                            <h4>Factores potenciales</h4>
                        </span>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('factores_potenciales_de_exito_super', {'id': unidad[0].id}) }}" class="teal-text text-darken-3">Factores</a>                                            
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            <i class="material-icons">people</i>
                            <h4>Partes interesadas</h4>
                        </span>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('partes_super', {'id':unidad[0].id}) }}" class="teal-text text-darken-3">Partes interesadas</a>                                            
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            <i class="material-icons">grid_on</i>
                            <h4>DAFO</h4>
                        </span>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('dafo_super', {'id': unidad[0].id}) }}" class="teal-text text-darken-3">DAFO</a>                                            
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('lista_unidad') }}" class="btn light-blue lighten-1 left">Volver</a>
    {% else %}
        <h1>Error</h1>
    {% endif %}


{% endblock %}
{% block javascripts %}    
    <script type="text/javascript" src="{{ asset('js/nav.js') }}"></script>
{% endblock %}