{% extends 'base.html.twig' %}

{% block title %}Registrar Usuario{% endblock %}

{% block body %}        
        <h3 class="h3 mb-3 font-weight-normal center">Añadir usuario</h3>
    {{ form_start(form) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.apellidos) }}
        {{ form_row(form.telefono) }}
        {{ form_row(form.email) }}
        {{ form_row(form.fecha_alta) }}
        {{ form_row(form.password) }}
        <br/>
        <button class="btn waves-effect waves-light right" type="submit">Registrar</button>        
        <a href="#" onClick="window.history.back();" class="btn red darken-1">Volver</a>        
    {{ form_end(form) }}    
{% endblock %}
