{% extends 'base.html.twig' %}

{% block title %}Registrase{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <h3 class="h3 mb-3 font-weight-normal">Registrarse</h3>
    {{ form_start(form) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.apellidos) }}
        {{ form_row(form.telefono) }}
        {{ form_row(form.email) }}
        {{ form_row(form.fecha_alta) }}
        {{ form_row(form.password) }}
        {{ form_row(form.roles) }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Registrarse</button>

    {{ form_end(form) }}

    </div>
{% endblock %}
