{% extends 'base.html.twig' %}

{% block title %}Partes interesadas{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    tr { cursor:pointer; }
    .active-table { background-color: #e0e0e0; }
</style>

{# MENSAJES #}
    {% for message in app.flashes('creado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'green lighten-1'
                });
            </script>
        </div>
    {% endfor %}
    {% for message in app.flashes('eliminado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'red darken-2'
                });
            </script>
        </div>
    {% endfor %}
    {# FIN MENSAJES #}
    <div class="card-panel center" style="margin-bottom:0;">
        <h3>Partes interesadas</h3>
    </div>
    <div class="divider"></div>
    <div class="row">
        <ul class="tabs">
            <li class="tab col s12"><a href="#partes">Partes</a></li>
        </ul>
    </div>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('partes_new') }}"
        class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
    {% endif %}
    <div class="section col s12" id="partes">
    {% if partes|length > 0 %}
        <table id="partes" class="highlight">
            <thead>
            <tr>
                <th>Parte interesada</th>
                <th>Tipo</th>
                <th>Expectativa</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Acción</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for parte in partes %}
                <tr id="{{ parte.id }}" onClick="activeButtons('{{ parte.id }}')">
                    <td>{{ parte.nombre }}</td>                    
                    {% if parte.tipoPartesInteresadas|length > 0 %}
                        {% if parte.tipoPartesInteresadas|length == 1 %}
                            <td>{{ parte.tipoPartesInteresadas[0].nombre }}</td>
                        {% else %}
                            <td><ul id="tipos">
                            {% for tipoParte in parte.tipoPartesInteresadas %}
                                <li>{{ tipoParte.nombre }}</li>
                            {% endfor %}
                            </ul></td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if parte.expectativaPartesInteresadas|length > 0 %}
                        {% if parte.expectativaPartesInteresadas|length == 1 %}
                            <td>{{ parte.expectativaPartesInteresadas[0].nombre }}</td>
                        {% else %}
                            <td><ul id="expectativas">
                            {% for expectParte in parte.expectativaPartesInteresadas %}
                                <li>{{ expectParte.nombre }}</li>
                            {% endfor %}
                            </ul></td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <td>
                            <a href="{{ path('partes_edit',{'id':parte.id}) }}"
                            class="btn-floating"><i class="material-icons">edit</i></a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_USER') %}
        <br/>
            <div class="row">
                <a href="#modalTipo" id="add-tipo" class="btn light-blue lighten-1 modal-trigger" disabled>Añadir tipo</a>
                <a href="#modalExpectativa" id="add-expectativa" class="btn light-blue lighten-1 modal-trigger" disabled>Añadir expectativa</a>
            </div>            
            <div id="modalTipo" class="modal">
                <div class="modal-content">
                    <h4 class="center">Añadir tipo</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="nombreTipo" type="text" class="validate">
                            <label for="nombreTipo">Tipo</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                
                    <a href="#" class="modal-close waves-effect waves-red btn-flat left">Cancelar</a>
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onClick="addTipo($('#nombreTipo').val())">Añadir</a>
                </div>
            </div>
            <div id="modalExpectativa" class="modal">
                <div class="modal-content">
                    <h4 class="center">Añadir expectativa</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="nombreExpectativa" type="text" class="validate">
                            <label for="nombreExpectativa">Expectativa</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                
                    <a href="#" class="modal-close waves-effect waves-red btn-flat left">Cancelar</a>
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onClick="addExpectativa($('#nombreExpectativa').val())">Añadir</a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <span>No hay partes interesadas creadas.</span>
    {% endif %}
    </div>
    {% if is_granted('ROLE_SUPER') %}
        <a href="#" class="btn light-blue lighten-1" onClick="window.history.back();">Volver</a>
    {% endif %}    
{% endblock %}
{% block javascripts %}
    <script>
   $(document).ready(function(){        
        $('.modal').modal();        
        $('select').formSelect();
    });
    </script>
    <script type="text/javascript" src="{{ asset('js/partes.js') }}"></script>        
{% endblock %}