{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h3>{{ title }}</h3>
{{ form_start(form) }}
        {{ form_row(form.descripcion) }}    
        {{ form_row(form.cuestiones) }}
        
    <button class="btn waves-effect waves-light right" type="submit">Editar</button>
    <button type="submit" class="btn btn-lg btn-primary red" onClick="javascript:history.back()"><a style="color:white;">Cancelar</a></button><br>

    {{ form_end(form) }}


    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/cuestion.js') }}"></script>
    {% endblock %}
