{% extends 'base.html.twig' %}

{% block title %}
    {% if interna == 0 %}
        Aspectos Internos
    {% else %}
        Aspectos Externos
    {% endif %}
{% endblock %}

{% block body %}
    {% if interna == 0 %}
    <div class="card-panel center" style="margin-bottom:0;">    
        <h3>Aspectos Externos</h3>
    </div>
    <div class="divider"></div>
    <div class="row">
        <ul class="tabs">          
          <li class="tab col s6"><a href="#oportunidades">Oportunidades</a></li>
          <li class="tab col s6"><a href="#amenazas">Amenazas</a></li>          
        </ul>
    </div>
    <div class="section col s12" id="oportunidades">        
        <a href="{{ path('aspecto_new',{'aspec': 'opor'}) }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>        
        {% if aspectos|length > 0 %}
        <table>
            <thead>
                <tr>
                <th>Oportunidad</th>
                <th>Acci贸n</th>
                </tr>
            </thead>            
            <tbody>
            {% for aspecto in aspectos %}
                {% if aspecto.favorable == 1 and aspecto.interno == interna %}
                <tr>
                    <td>{{ aspecto.descripcion }}</td>
                    <td>
                        <a href="{{ path('aspecto_edit', {'id': aspecto.id, 'aspec': 'opor'}) }}" class="btn-floating"><i class="material-icons">edit</i></a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <span>No hay ningun aspecto favorable</span>
        {% endif %}        
    </div>
    <div class="section col s12" id="amenazas">
        <a href="{{ path('aspecto_new',{'aspec': 'amen'}) }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
        {% if aspectos|length > 0 %}
        <table>
            <thead>
                <tr>
                <th>Amenaza</th>
                <th>Acci贸n</th>
                </tr>
            </thead>            
            <tbody>                    
                {% for aspecto in aspectos %}
                    {% if aspecto.favorable == 0 and aspecto.interno == interna %}
                    <tr>
                        <td>{{ aspecto.descripcion }}</td>
                        <td>
                            <a href="{{ path('aspecto_edit', {'id': aspecto.id, 'aspec': 'amen'}) }}" class="btn-floating"><i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>            
        {% else %}
            <span>No hay ningun aspecto desfavorable</span>
        {% endif %}        
    </div>
    {% else %}
    <div class="card-panel center" style="margin-bottom:0;">
        <h3>Aspectos Internos</h3>
    </div>
    <div class="divider"></div>
    <div class="row">
        <ul class="tabs">          
          <li class="tab col s6"><a href="#fortalezas">Fortalezas</a></li>
          <li class="tab col s6"><a href="#debilidades">Debilidades</a></li>          
        </ul>
    </div>
    <div class="section col s12" id="fortalezas">
        <a href="{{ path('aspecto_new',{'aspec': 'fort'}) }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
        {% if aspectos|length > 0 %}
        <table>
            <thead>
                <tr>
                <th>Fortaleza</th>
                <th>Acci贸n</th>
                </tr>
            </thead>            
            <tbody>
                {% for aspecto in aspectos %}
                    {% if aspecto.favorable == 1 and aspecto.interno == interna %}
                    <tr>
                        <td>{{ aspecto.descripcion }}</td>
                        <td>
                            <a href="{{ path('aspecto_edit', {'id': aspecto.id, 'aspec': 'fort'}) }}" class="btn-floating"><i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <span>No hay ningun aspecto favorable</span>
        {% endif %}
    </div>
    <div class="section col s12" id="debilidades">
        <a href="{{ path('aspecto_new',{'aspec': 'debi'}) }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
        {% if aspectos|length > 0 %}
        <table>
            <thead>
                <tr>
                <th>Debilidad</th>
                <th>Acci贸n</th>
                </tr>
            </thead>
            <tbody>            
                {% for aspecto in aspectos %}
                    {% if aspecto.favorable == 0 and aspecto.interno == interna %}
                    <tr>
                        <td>{{ aspecto.descripcion }}</td>
                        <td>
                            <a href="{{ path('aspecto_edit', {'id': aspecto.id, 'aspec': 'debi'}) }}" class="btn-floating"><i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <span>No hay ningun aspecto desfavorable</span>
        {% endif %}        
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/tabs.js') }}"></script>    
{% endblock %}
