{% extends 'base.html.twig' %}

{% block title %}
    {% if interna == 0 %}
        Aspectos Internos
    {% else %}
        Aspectos Externos
    {% endif %}
{% endblock %}

{% block body %}
<style>
table {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 25% ;
} 
</style>
  {# MENSAJES #}
    {% for message in app.flashes('creado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'green lighten-1'
                });
            </script>        
        </div>
    {% endfor %}
    {% for message in app.flashes('eliminado') %}
        <div class="alert alert-success" data-info="{{ message }}">
            <script>
                M.toast({
                    html: '{{ message }}',
                    classes: 'red darken-2'
                });
            </script>        
        </div>
    {% endfor %}
  {# FIN MENSAJES #}
    {% if interna == 0 %}
    <div class="card-panel center" style="margin-bottom:0;">
        <h3>Aspectos Externos</h3>
    </div>
    <div class="divider"></div>
    <div class="row">
        <ul class="tabs">          
          <li class="tab col s6"><a href="#oportunidades">Oportunidades</a></li>
          <li class="tab col s6"><a href="#amenazas">Amenazas</a></li>          
        </ul>
    </div>
    <div class="section col s12" id="oportunidades">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('aspecto_new',{'aspec': 'opor'}) }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>        
        {% endif %}
        {% if aspectos|length > 0 %}
        <table>
            <thead>
                <tr>
                <th>Oportunidad</th>
                <th>Cuestiones</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Acci贸n</th>
                {% endif %}
                </tr>
            </thead>            
            <tbody>
            {% for aspecto in aspectos %}
                {% if aspecto.favorable == 1 and aspecto.interno == interna %}
                <tr>
                    <td>{{ aspecto.descripcion }}</td>
                    <td>
                        {% if aspecto.cuestiones|length > 1 %}
                        {% set cont = 0 %}
                        {% for cuestion in aspecto.cuestiones %}
                        {% set cont = cont + 1 %}
                            {% if cont != aspecto.cuestiones|length %}
                                {{ cuestion.descripcion }},
                            {% else %}
                                {{ cuestion.descripcion }}
                            {% endif %}                        
                        {% endfor %}
                        {% else %}
                            {{ aspecto.cuestiones[0].descripcion }}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_USER') %}
                    <td>
                        <a href="{{ path('aspecto_edit', {'id': aspecto.id, 'aspec': 'opor'}) }}" class="btn-floating"><i class="material-icons">edit</i></a>                        
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <span>No hay ningun aspecto favorable</span>
        {% endif %}        
    </div>
    <div class="section col s12" id="amenazas">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('aspecto_new',{'aspec': 'amen'}) }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
        {% endif %}
        {% if aspectos|length > 0 %}
        <table>
            <thead>
                <tr>
                <th>Amenaza</th>
                <th>Cuestiones</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Acci贸n</th>
                {% endif %}
                </tr>
            </thead>            
            <tbody>                    
                {% for aspecto in aspectos %}
                    {% if aspecto.favorable == 0 and aspecto.interno == interna %}
                    <tr>
                        <td>{{ aspecto.descripcion }}</td>
                        <td>
                            {% if aspecto.cuestiones|length > 1 %}
                            {% set cont = 0 %}
                            {% for cuestion in aspecto.cuestiones %}
                            {% set cont = cont + 1 %}
                                {% if cont != aspecto.cuestiones|length %}
                                    {{ cuestion.descripcion }},
                                {% else %}
                                    {{ cuestion.descripcion }}
                                {% endif %}                        
                            {% endfor %}
                            {% else %}
                                {{ aspecto.cuestiones[0].descripcion }}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_USER') %}
                        <td>
                            <a href="{{ path('aspecto_edit', {'id': aspecto.id, 'aspec': 'amen'}) }}" class="btn-floating"><i class="material-icons">edit</i></a>                            
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>            
        {% else %}
            <span>No hay ningun aspecto desfavorable</span>
        {% endif %}        
    </div>    
    {% else %}
    <div class="card-panel center" style="margin-bottom:0;">
        <h3>Aspectos Internos</h3>
    </div>
    <div class="divider"></div>
    <div class="row">
        <ul class="tabs">          
          <li class="tab col s6"><a href="#fortalezas">Fortalezas</a></li>
          <li class="tab col s6"><a href="#debilidades">Debilidades</a></li>          
        </ul>
    </div>
    <div class="section col s12" id="fortalezas">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('aspecto_new',{'aspec': 'fort'}) }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
        {% endif %}
        {% if aspectos|length > 0 %}
        <table>
            <thead>
                <tr>
                <th>Fortaleza</th>
                <th>Cuestiones</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Acci贸n</th>
                {% endif %}
                </tr>
            </thead>            
            <tbody>
                {% for aspecto in aspectos %}
                    {% if aspecto.favorable == 1 and aspecto.interno == interna %}
                    <tr>
                        <td>{{ aspecto.descripcion }}</td>
                        <td>
                            {% if aspecto.cuestiones|length > 1 %}
                            {% set cont = 0 %}
                            {% for cuestion in aspecto.cuestiones %}
                            {% set cont = cont + 1 %}
                                {% if cont != aspecto.cuestiones|length %}
                                    {{ cuestion.descripcion }},
                                {% else %}
                                    {{ cuestion.descripcion }}
                                {% endif %}                        
                            {% endfor %}
                            {% else %}
                                {{ aspecto.cuestiones[0].descripcion }}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_USER') %}
                        <td>
                            <a href="{{ path('aspecto_edit', {'id': aspecto.id, 'aspec': 'fort'}) }}" class="btn-floating"><i class="material-icons">edit</i></a>                            
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <span>No hay ningun aspecto favorable</span>
        {% endif %}
        {% if is_granted('ROLE_SUPER') %}
            <a href="#" class="btn light-blue lighten-1" onClick="window.history.back();">Volver</a>
        {% endif %}
    </div>    
    <div class="section col s12" id="debilidades">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('aspecto_new',{'aspec': 'debi'}) }}" class="btn-floating pulse btn-large light-blue lighten-1 right"><i class="material-icons">add</i></a>
        {% endif %}
        {% if aspectos|length > 0 %}
        <table>
            <thead>
                <tr>
                <th>Debilidad</th>
                <th>Cuestiones</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Acci贸n</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>            
                {% for aspecto in aspectos %}
                    {% if aspecto.favorable == 0 and aspecto.interno == interna %}
                    <tr>
                        <td>{{ aspecto.descripcion }}</td>
                        <td>
                            {% if aspecto.cuestiones|length > 1 %}
                            {% set cont = 0 %}
                            {% for cuestion in aspecto.cuestiones %}
                            {% set cont = cont + 1 %}
                                {% if cont != aspecto.cuestiones|length %}
                                    {{ cuestion.descripcion }},
                                {% else %}
                                    {{ cuestion.descripcion }}
                                {% endif %}                        
                            {% endfor %}
                            {% else %}
                                {{ aspecto.cuestiones[0].descripcion }}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_USER') %}
                        <td>
                            <a href="{{ path('aspecto_edit', {'id': aspecto.id, 'aspec': 'debi'}) }}" class="btn-floating"><i class="material-icons">edit</i></a>                            
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <span>No hay ningun aspecto desfavorable</span>
        {% endif %}        
    {% endif %}
    {% if is_granted('ROLE_SUPER') %}
        <a href="#" class="btn light-blue lighten-1" onClick="window.history.back();">Volver</a>
    {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/tabs.js') }}"></script>    
{% endblock %}